@page
@model Dirarys_Final_Project.Pages.Characters.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<body class="bg-secondary bg-dark text-white">
    <h1> Character To Delete</h1>
    <hr color="white" />
    <h3>Are you sure you want to delete this character?</h3>
    <br>
    <div>
        <!-- Display information for selected character. -->
        <dl class="row">
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Character.Name) :
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Character.Name)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Character.Age) :
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Character.Age)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Character.Height) :
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Character.Height)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Character.Weight) :
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Character.Weight)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Character.Race) :
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Character.Race)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Character.Specialization) :
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Character.Specialization)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Character.Land) :
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Character.Land.Name)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Character.Guild) :
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Character.Guild.Name)
            </dd>
        </dl>
        <!-- Delete button to remove selected character from character list. -->
        <form method="post">
            <input type="hidden" asp-for="Character.CharacterID" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
        <br>
        <!-- Return to character list. -->
        <u><a class="text-white" asp-page="./Index">Back to List</a></u>
    </div>
</body>
