@page
@model Dirarys_Final_Project.Pages.Characters.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<body class="bg-secondary bg-dark text-white">
    <h1>Character Details</h1>
    <hr color="white" />
    <br>
    <div>
        <dl class="row">
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Character.Name) :
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Character.Name)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Character.Age) :
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Character.Age)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Character.Height) :
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Character.Height)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Character.Weight) :
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Character.Weight)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Character.Race) :
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Character.Race)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Character.Specialization) :
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Character.Specialization)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Character.Land) :
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Character.Land.Name)
            </dd>
            <dt class="col-sm-2 text-white">
                @Html.DisplayNameFor(model => model.Character.Guild) :
            </dt>
            <dd class="col-sm-10 text-white">
                @Html.DisplayFor(model => model.Character.Guild.Name)
            </dd>
        </dl>
    </div>
    <br>
    <div>
        <u><a class="text-white" asp-page="./Edit" asp-route-id="@Model.Character.CharacterID">Edit</a></u> |
        <u><a class="text-white" asp-page="./Index">Back to List</a></u>
    </div>
</body>
