@page
@model CharacterModel
@{
    ViewData["Title"] = "Character Page";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Age</th>
            <th scope="col" class="text-center">Height in meters</th>
            <th scope="col" class="text-center">Weight in kilograms</th>
            <th scope="col" class="text-center">Race</th>
            <th scope="col" class="text-center">Specialization</th>
            <th scope="col" class="text-center">Land of Origin</th>
            <th scope="col" class="text-center">Guild</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model.Characters)
        {
            <tr>
                <td class="text-center">@Html.DisplayFor(CharacterStat => c.Name)</td>
                <td class="text-center">@Html.DisplayFor(CharacterStat => c.Age)</td>
                <td class="text-center">@Html.DisplayFor(CharacterStat => c.Height)</td>
                <td class="text-center">@Html.DisplayFor(CharacterStat => c.Weight)</td>
                <td class="text-center">@Html.DisplayFor(CharacterStat => c.Race)</td>
                <td class="text-center">@Html.DisplayFor(CharacterStat => c.Specialization)</td>
                <td class="text-center">@Html.DisplayFor(CharacterStat => c.Land.Name)</td>
                <td class="text-center">@Html.DisplayFor(CharacterStat => c.Guild.Name)</td>
            </tr>
        }
    </tbody>
</table>