@page
@model Dirarys_Final_Project.Pages.Lands.SpecificLandModel

@{
    ViewData["Title"] = "Land";
}

<body class="bg-secondary bg-dark text-white">
    <h1>@Html.DisplayFor(model => model.Land.Name)</h1>

    <!-- Lists the selected land and all characters from that land. -->
    <div>
        <hr color="white" />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Land.Climate) :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Land.Climate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Land.GoverningType) :
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Land.GoverningType)
            </dd>
            <br>
            <br>
            <dt class="col-sm-12">
                <h6>Characters from this Land :</h6>
            </dt>
            <!-- List characters for land. -->
            @foreach (var c in Model.Land.Characters)
            {
                <dd class="col-sm-12">
                @Html.DisplayFor(model => c.Name)
                </dd>
            }
        </dl>
    </div>
    <br>
    <!-- Return to land list. -->
    <div>
        <u><a class="text-white" asp-page="./Land">Back to Land List</a></u>
    </div>
</body>